.correct {
  background-color: #538d4e;
  cursor: not-allowed;
}

.almost {
  background-color: #b59f3b;
  cursor: not-allowed;
}

.none {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.animated {
  animation: flit 0.5s ease;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
